<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item logo" href="/">
                prima ai
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="tabs is-right">
                    <ul>
                        <li><a href="/hub"><Button class="hubbutton">Hub</Button></a></li>
                        <li><a href="/getstarted">Get Started</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>