<div class="navigation">
    <div class="section-title">Featured</div>
</div>
<div class="mainslider">
  <div class="slidercontent">
    <div id="tags">{{tags}}</div>
    <div class="title">Cosmo - Get to know your customer</div>
    <div class="description">Implement this plugin in to your online shops. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,<br/> sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,<br/> sed diam voluptua. At vero eos et accusam et.</div>
    <button class="pluginbutton">View</button>
  </div>
</div>