.landing-view {
    margin: 120px 15%;
}

.landing-title {
    font-weight: bold;
    font-size: 3.5em;
}

.landing-description {
    margin: 10px 0 0 0;
    font-size: 1.4em;
}

.icons {
    height: 100px;
    width: 50%;
}

.icon-item {
  
    width: 20%;
}

.landing {
    position: relative
}

.section {
    .title {
        font-weight: 900;
        font-size: 3em;
    }
    .title-description {
        margin: 0 auto;
        font-size: 1.5em;
        text-align: center;
        width: 50%;
    }
}

.prima-button-filled:hover {
    cursor: pointer;
    background-color: #5355ac;
}

.prima-button-filled {
    padding: 15px 30px;
    font-weight: 900;
    font-size: 1.2em;
    border-radius: 10px;
    background-color: #414288;
    border-color: transparent;
    color: white;
}

.prima-button:hover {
    color: white;
    border-color: transparent;
    background-color: #5355ac;
    cursor: pointer;
}

.prima-button {
    padding: 15px 30px;
    font-weight: 900;
    font-size: 1.2em;
    border-radius: 10px;
    border-color: #414288;
    color: #414288;
}

.landing-buttonset {
    position:absolute; 
    bottom: 0;
    display: table;
}

.landing-button {
    display: table-cell;
    padding: 0 15px 0 0;
}

.title {
    text-align: center;
}

.recommendation {
    border-radius: 15px;
    background-image: linear-gradient(#5355ac, #414288);
    margin: 10px 20%;
    color: white;
    padding: 2em;
    font-size: 1.2em;
    .title {
        color: white;
        text-align: left;
        font-size: 1.8em;
    }   
    .links a {
        float: left;
        margin-top: -5px;
        padding-left: 0.5em;
        font-weight: 900;
        color: white;
    }
    .links a:hover {
        color: pink;
    }
    .links {
        padding: 2em 0;
    }
    .links .arrow {
        float: left;
        background-repeat: no-repeat;

        background-size: 1em;
        height: 19px;
        width: 19px;
        background-image:url(../../../assets/right-arrow.png);
    }
}