<div class="landing-view">
  <div class="columns is-desktop">
    <div class="column landing">
      <div class="landing-title">We will win AI</div>
      <div class="landing-description">Solving our world's problems efficiently and open to use for everyone.</div>
      <div class="landing-buttonset">
        <div class="landing-button"><Button class="prima-button-filled">Get started</Button></div>
        <div class="landing-button"><Button class="prima-button">About</Button></div>
      </div>
    </div>
    <div class="column" style="width: 400px; height: 400px; background: url('https://cdn.dribbble.com/users/32512/screenshots/5367705/logo_corti_by_milkinside.gif') no-repeat center"></div>
  </div>
</div>
