<div class="landing-view">
  <div class="columns is-desktop">
    <div class="column landing">
      <div class="landing-title">We will win AI</div>
      <div class="landing-description">Solving our world's problems efficiently and open to use for everyone.<br/>We got you covered.</div>
      <div class="landing-buttonset">
        <div class="landing-button"><Button class="prima-button-filled">Get started</Button></div>
        <div class="landing-button"><Button class="prima-button">About</Button></div>
      </div>
    </div>
    <div class="column" style="width: 400px; height: 400px; background: url('https://cdn.dribbble.com/users/32512/screenshots/5367705/logo_corti_by_milkinside.gif') no-repeat center"></div>
  </div>
</div>
<div class="section">
  <div class="title">Building the most powerful AI ever</div>
  <div class="title-description">Implement newest artificial intelligence technologies into your product and solve problems in no time. Scale up to whatever you need.</div>
  <div class="icons-wrap">
    <div class="icons">
      <div class="icontainer">
        <img src="../../../assets/hubicon.png" class="icon-hub"/>
        <p>Explore the hub for prima</p>
      </div>
      <div class="icontainer">
        <img src="../../../assets//neurons.png" class="icon-ai"/>
        <p>Use Prima for everything</p>
      </div>
    </div>
  </div>

  <div class="title">The hub</div>
  <div class="title">The AI</div>
</div>

<div class="recommendation">
    <div class="title">Want to see what prima can do for you?</div>
    <div class="description">Use the world's most powerful AI to solve your company's next hurdles.</div>
    <div class="links"><div class="arrow"></div><a href="">prima for enterprises</a></div>
</div>


<div class="section">
  

</div>
<div class="section">
  
  
</div>
  
